<div class="panel-header" style="padding: 5.2rem; min-height: 1400px; background: #fd63b475;">
<div class="main-content">
    <div class="card-header">
        <h5 class="title" style="color: white;">Login with Kanhaiya..</h5>
      </div>
    <div class="col-md-12">
        <div class="card">
          
          <div class="card-body">
            <form>
          
              <div class="row">
                <div class="col-md-6 pl-1" style="margin: 2rem;">
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input name="email" id="email" type="email" class="form-control" placeholder="Email">
                    </div>

                  <div class="form-group">
                    <label>First Name</label>
                    <input type="password" class="form-control" placeholder="password">
                  </div>

                  <div>
                    <div class="font-icon-detail">
                        Login
                      <i class="now-ui-icons arrows-1_minimal-right"></i>
                    </div>
                  </div>
                </div>
               
              </div>
            
            </form>
          </div>
        </div>

  </div>
</div>
